@model OrderTask.Business.Dto.OrderDetailsDto

@{
    ViewBag.Title = "Edit Order Detail";
}

<section class="intro">
    <div class="gradient-custom-1 h-100">
        <div class="mask" style="padding-top: 58px;">
            <div id="form-content">
                <h2 style="text-align:center;">Edit Order Detail</h2>
                <div class="row ">
                    <div class="col-lg-7 mx-auto">
                        <div class="card mt-2 mx-auto p-4 bg-light">
                            <div class="card-body bg-light">
                                <div class="container">
                                     @using (Html.BeginForm())
                                    {
                                        <div class="form-horizontal"   border-radius: 5px !important;
                                        background-color: #f2f2f2 !important;
                                        padding: 20px !important;
                                    >
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            <div class="form-group">
                                                    @Html.LabelFor(x => x.ItemNo, new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                        @Html.TextBoxFor(x => x.ItemNo, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(x => x.ItemNo, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                    @Html.LabelFor(x => x.ItemDescription, new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                        @Html.TextBoxFor(x => x.ItemDescription, new { @class = "form-control" } )
                                                        @Html.ValidationMessageFor(x => x.ItemDescription, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
        
                                            <div class="form-group">
                                                    @Html.LabelFor(x => x.Quantity, new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                        @Html.EditorFor(x => x.Quantity, new { htmlAttributes = new { @class = "form-control" }})
                                                        @Html.ValidationMessageFor(x => x.Quantity, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                    @Html.LabelFor(x => x.Price, new { @class = "control-label col-md-2" })
                                                <div class="col-md-12">
                                                        @Html.TextBoxFor(x => x.Price, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(x => x.Price, "", new { @class = "text-danger" })
                                                </div>
                                            </div>
                                            <input hidden value="@Model.OrderId" name="OrderId">

                                            <div class="form-group ">
                                                <div class="col-md-offset-2 col-md-12 p-2 d-flex justify-content-center" id="submit">
                                                    <input type="submit" value="Edit" class="btn btn-success btn-send  pt-2 btn-block" style="width: fit-content;" />
                                                </div>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>